[submodule "examples/AnimatedGIFs"]
	path = examples/AnimatedGIFs
	url = https://github.com/pixelmatix/AnimatedGIFs.git
[submodule "src/lib/FlexIO_t4"]
	path = src/lib/FlexIO_t4
	url = https://github.com/KurtE/FlexIO_t4.git
